FROM node:lts-alpine
ENV PORT=6000
ENV BCRYPT_SALT_ROUNDS=11
ENV NANOID_SIZE=11
ENV BASE_URL=http://localhost:6000
ENV NODEMAILER_USERNAME=""
ENV NODEMAILER_PASSWORD=""
ENV JSON_WEB_TOKEN_SECRET=""
ENV MONGODB_URI=""
ENV TWILIO_ACCOUNT_SID=""
ENV TWILIO_AUTH_TOKEN=""
ENV TWILIO_PHONE_NUMBER=""
ENV COMPANy=SERVERTEMPLATE
WORKDIR /app
COPY package*.json /app
RUN npm install
COPY . /app
EXPOSE 6000
CMD npm run dev