<style>
    h1 { color:red; }
    #name {
        color:blue;
        font-size: large;
    }
</style>
<strong>Hey, {{username}}!</strong>

Your account was successfully deactivated 

<h1 id="name">{{company}}</h1>!

:)