<style>
    h1 { color:red; }
    #name {
        color:blue;
        font-size: large;
    }
</style>
<strong>Hello, {{username}}!</strong>

Your account has been locked due to 3 failed logins attempt

from <h1 id="name">{{company}}</h1>!

:)