<style>
    h1 { color:red; }
    #name {
        color:blue;
        font-size: large;
    }
</style>
<strong>Hey, {{name}}!</strong>

Thanks for signing up for our <h1 id="name">Joseph App</h1>!

:)